@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100&family=Aldrich&family=Alegreya+Sans+SC:wght@100&display=swap');

body{
    background-color: #5A8962;
    margin: 0;
}

h1 {
    font-size: 100px;
    font-family: 'Advent Pro', sans-serif;
}

a{
    text-decoration: none;
    color: white;
}

.navbar{
    width: auto;
    align-items: center;
    background-color: #38543B;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.5);;
}

.navbar img{
    height: 3vw;
    filter: sepia(250%);
    width: 5vw;
}

nav{
    font-size: 20px;
    display: flex;
    justify-content: space-around;
}

nav a{
    margin: 1.5em;
    color: #F0FDBE;
    text-decoration: none;
    font-family: 'Aldrich', sans-serif;
}

header img{
    margin-left: 1em;
    border-radius: 20px;
}

header input{
    width: 13vw;
    height: 4vw;
    margin: 2em;
    background-color: #F0FDBE;
    margin: 0%;
    border: none;
    font-family: 'Aldrich', sans-serif;
    font-size: 20px;
}

header h1{
    color: #F0FDBE;
    text-align: end;
    margin: 0;
}

.searchbar{
    display: flex;
    flex-direction: row;
    margin: 2%;
    padding-left: 10vw;
}

.searchbar div{
    width: 2vw;
    background-color: #37359E;
    border-radius: 10px;
}

.accueil{
    height: 35vw;
    display: flex;
    flex-wrap: nowrap;
    background-blend-mode: saturation;
    mix-blend-mode: overlay;
}


.accueil1{
    width: 70%;
    background-image: url("images/newyokscoe.jpg");
    background-size: 100%;
    background-position:center;
}


.accueil1 h1{
    color: #37359E;
    margin: 0%;
}

button{
    color: #F0FDBE;
    background: linear-gradient(#37359E,black);
    border-radius: 10px;
    border: none;
    font-size: 1.3vw;
    font-family: 'Aldrich', sans-serif;
}

.accueil1 button{
    width: 13%;
    height: 10%;
    margin-left: 3vw;
    margin-top: 20vw;
}

.accueil2{
    width: 30%;
    background-image: url("images/sneacker-header.jpg");
    background-size: 100%;
    background-position:center ;
}

.accueil2 h2{
    color: #37359E;
    font-size: 5vw;
    rotate: 270deg;
}

.articles{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.articles-populaires{
    background-position: center;
    background-size: 200%;
    width: 18vw;
    height: 22vw;
    border: solid black 0.5vw;
    border-radius: 15px;
    box-shadow: 10px 10px 30px -5px black;
    margin: 2vw;
}

.articles-populaires-description{
    display: flex;
    font-size: 1vw;
    padding: 1vw;
    margin-top: 14vw;
    height: 4vw;
    width: auto;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.3);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.articles-populaires-description p{
    font-family: 'Alegreya Sans SC', sans-serif;
    color: white;
    margin: 0%;
}

.articles-populaires-description div{
    color: yellow;
}

.nouveau{
    background-color: #37359E;
    color: #F0FDBE;
    width: 4.5vw;
    height: 1vw;
    align-items: center;
    margin: 1vw;
    padding: 0.2vw;
    font-size: 0.9vw;
}

.nouveaucache{
    width: 4.5vw;
    height: 1vw;
    margin: 1vw;
    padding: 0.2vw;
}

.deco{
    display: flex;
    flex-wrap: wrap;
    height: 45vw;
    align-self: baseline;
}

.deco1{
    background-image: url('images/miniature.jpg');
    background-position: center;
    background-size: 100%;
    height: 38vw;
    width: 18vw;
    border: solid 0.5vw;
    border-radius: 15px;
    margin: 2vw;
    filter: hue-rotate(40deg);
    box-shadow: 10px 10px 30px -5px black;
}

.deco23{
    height: 38vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 2vw;
}

.deco2{
    background-image: url('images/birkenstockBlue.jpg');
    background-position: center;
    background-size: 100%;
    height: 16vw;
    width: 38vw;
    border: solid 0.5vw;
    border-radius: 15px;
    filter: hue-rotate(50deg);
    box-shadow: 10px 10px 30px -5px black;
}

.deco3{
    background-image: url('images/addidas.jpg');
    background-position: center;
    background-size: 100%;
    height: 16vw;
    width: 38vw;
    border: solid 0.5vw;
    border-radius: 15px;
    mix-blend-mode: overlay;
    box-shadow: 10px 10px 30px -5px black;
}

.deco4{
    background-image: url('images/converse\ news.jpg');
    background-position: center;
    background-size: 100%;
    height: 38vw;
    width: 18vw;
    border: solid 0.5vw;
    border-radius: 15px;
    margin: 2vw;
    mix-blend-mode:hard-light ;
    box-shadow: 10px 10px 30px -5px black;
}

.articles-reste{
    background-position: center;
    background-size: 200%;
    width: 18vw;
    height: 24vw;
    border: solid black 0.5vw;
    box-shadow: 10px 10px 30px -5px black;
    border-radius: 15px;
    margin: 2vw;
}

.articles-reste-description{
    display: flex;
    font-size: 1.2vw;
    padding: 1vw;
    margin-top: 15vw;
    height: 5vw;
    width: auto;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.3);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.articles-reste-description p{
    font-family: 'Alegreya Sans SC', sans-serif;
    color: white;
    margin: 0%;
}

.apropos{
    color: white;
    width: 100%;
    height: 23vw;
    background-image: url('images/prairie.jpg');
    background-size: 100%;
    background-position: center;
    padding: 3vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 1.3vw;
}

.apropos div{
    width: 30%;
}

.apropos h2{
    font-family: 'Aldrich', sans-serif;
}

.reseaux{
    display: flex;
    justify-content: center;
}

.reseaux img{
    width: 3vw;
    margin: 1vw;
    border-radius: 20px;
}

.paiement{
    margin: 3vw;
    display: flex;
    justify-content: center;
}

.paiement img{
    width: 3vw;
    margin: 1vw;
}

.redirection{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 1.2vw;
    font-family: 'Aldrich', sans-serif;
    color: white;
}

.redirection div{
    color: white;
    display: flex;
    flex-direction: column;
    width: 14vw;
}
/* -------------------------------------------------------------- Media Query --------------------------------------------------------------  */

@media screen and (max-width:768px) {
    h1{
        font-size: 30px
    }

    nav {
        font-size: 10px;
    }

    header input{
        font-size: 5px;
    }
}